
@font-face {
    font-family: "CustomFont";
    src: url("./Mattone-150.woff2") format("woff2"),
         url("./Mattone-150.woff") format("woff");
  }


.landingPage {
height: 100vh;
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
overflow: auto;
}

.leftside{
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)
      ),
      url("../images/pexels-mark-neal-2225442.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;

}

.rightside{
    background-color: #FFF5E1;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.minirightside {
 width: 60%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 4%;
 align-items: center;

}
h1 {
    font-style: italic;
    font-size: 5rem;
    color: #8739f9;
    font-weight: bold;
    
}
p {
    font-size: 1.60rem;
    text-align:left;
    font-family: "CustomFont", sans-serif;
}

button {
    
    background-color: white;
    color: white;
    border: none;
    width: 275px; /* Adjust the width to your desired size */
    height: 80px; /* Adjust the height to your desired size */
    border-radius: 5rem;
    font-size: 1.5rem;
    letter-spacing: .025em;
    background-color: #8739f9;
    /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
    font-family: "CustomFont", sans-serif;
    font-weight: bolder;
}
  button:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    /* background-color: #6d23e6;  */
  }
  @media (min-width: 767px) and (max-width: 1200px) {
    h1 {
        font-size: 3.5rem;          
               
           }
    
    #p-extraInfo {
        display: none;
    }
    p {
        font-size: 1.5rem;
        text-align:center;
        width: 100%;
        
    } 
  }

  @media (max-width: 767px) {
    .landingPage {
      height: 80%;  
    }
   
    #leftsideId {
         display: none;
          }

          .rightside{
            background-color: #FFF5E1;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

          .minirightside {
            width: 80%;          
           
           }
           h1 {
        font-size: 4rem;          
               
           }
           p {
               font-size: 1.25rem;
               text-align:center;
               
           } 
           button {
            width: 225px; /* Adjust the width to your desired size */
            height: 70px; /* Adjust the height to your desired size */
            font-size: 1.25rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            outline: none;
          
        }
  }
  
 