/* STANDARD TEMPLATE */
.IndividualLesson {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-family: var(--standardFont);
  background-color: var(--cream);
  padding: var(--standard-padding);

}

.IndividualLesson p{
  font-size: var(--p-font-size) ;
}

.IndividualLesson h1 {
  font-size: var(--h1-font-size);
  margin: 20px 0px;
  text-align: center; 
}

.IndividualLesson h3 {
  font-size: var(--h3-font-size) ;
  margin: 15px 0px;
}
.IndividualLesson ul{
  font-size: var(--p-font-size);
  margin:2px 10px;
  }


.backBox {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: start;


}
.link-backbox {
  text-decoration: none;
  color: var(--purple);
} 
.link-backbox:hover {
  text-decoration: underline;
  color: var(--purple);
} 


.h1-IndividualLesson {
 
}

h3 {
  font-size: var( --h3-font-size);
  text-align: center;
}

.contentContainer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

/* Table styles */
.my-table,
table {
  border-collapse: collapse;
  font-size: var(--table-font-size);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;

}

.my-table th,
th,
.my-table td,
td {
  border: 1px solid black; /* Change the border color to black */
  padding: 1rem;
  text-align: left;
  background-color: var(--white);
}

table tr,
table td {
  border: 1px solid black; /* Change the border color to black */
  background-color: var(--white);
}

.my-table th,
table th {
  color: var(--off_black);
  background-color: var(--purple);
}

.my-table .table-heading {
  font-weight: bold;
}


/* Define CSS styles for table headers */
.my-table thead tr {
  background-color:var(--off_black);
  color: var(--white);
}

#table-wide {
  display: block;
}
#table-long {
  display: none;
}

.individuallesson-link {
  text-decoration: none;
  color: var(--purple);
  font-weight: bold;
}


/* SMALL SCREENS - MEDIUM SCREENS */

@media (max-width: 769px) {
  
  #table-wide {
    display: none;
  }
  #table-long {
    display: block;
  }

  .my-table,
  table {
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }
}

/* MEDIUM SCREENS - LARGE SCREENS */


/* LARGE SCREENS + */
@media (min-width: 1200px) {

}