
/* purple: #8739f9
bllue: #37B9F1
purple: #8739f9
GREEN: #14de5e
GREY: #F2F5F5
green chatgpt: #58D4B6;
FONT COLOURS::
TEXT: #595360
LABEL: #908E9B
DISABLED: #E1DFE9  
textsize one: 4rem
textsize one: 3rem
textsize one: 2rem*/


@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=PT+Sans&display=swap');

.IndividualLesson {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1%;
  align-items: center;
  flex-wrap:wrap;
  background-color:orange;
  width: 100%;
  height: 100vh;

 

}
