/* Define your color variables */


/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=PT+Sans&display=swap');

/* Global styles */
body {
  font-family: 'PT Sans', sans-serif;
}

/* IndividualLesson styles */
.IndividualLesson {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  width: 100%;
  height: 100vh;
  margin: 1%;

}


/* Table styles */
.my-table {
  width: 100vh;
  /* border-collapse: collapse; */
  margin: 1rem;
  font-size: 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.my-table th,
.my-table td {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: left;
}

.my-table th {
  color: #252525;
}

/* .my-table tbody tr:nth-child(even) {
  background-color: orange;
} */

.my-table tbody tr:nth-child(odd) {
  background-color: #fff;
}

.my-table .table-heading {
  font-weight: bold;
}

