nav {
  width: 100%;
  background-color: var(--off_back);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
color: var(--white);
}

.navbar-brand {
  color: var(--white) !important; /* Set the color to var(--white) */
  font-style: italic;
}


/* Add this CSS to make the links var(--white) */
.navbar-nav .nav-link {
  color: var(--white) !important; /* Set the color to var(--white) */
  padding: 20px 15px !important;;
  font-size: var(--p-font-size);
}

#heefoidsmoids {
  width: 100px;
}
/* .navbar-nav .nav-link.active {
  color:#14de5e !important;} */

/* Add this CSS to change the color of dropdown links if needed */
.dropdown-menu .dropdown-item {
  color: var(--off_back)!important; /* Set the color to var(--white) for dropdown links */
}

/* Add this CSS to change the background color of dropdown links if needed */
.dropdown-menu .dropdown-item:hover {
  background-color:var(--purple) !important; /* Set the background color on hover (e.g., blue) */
}

.nav-logo {
  width: 40px;
  height: 40px;
  margin-bottom: 2px;
  margin-right: 5px;
}
