nav {
  width: 100%;
  background-color: #252525;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
color: white;
}

.navbar-brand {
  color: white !important; /* Set the color to white */
  font-style: italic;
}


/* Add this CSS to make the links white */
.navbar-nav .nav-link {
  color: white !important; /* Set the color to white */
}

/* Add this CSS to change the color of active links if needed */
.navbar-nav .nav-link.active {
  color: #ffcc00 !important; /* Set the color for active links (e.g., yellow) */
}

/* Add this CSS to change the color of dropdown links if needed */
.dropdown-menu .dropdown-item {
  color: white !important; /* Set the color to white for dropdown links */
}

/* Add this CSS to change the background color of dropdown links if needed */
.dropdown-menu .dropdown-item:hover {
  background-color: #007bff !important; /* Set the background color on hover (e.g., blue) */
}
