.IndividualLevelLandingPage {
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: center;
  justify-content: center; /* Adjust to start content at the top */
  width: 100%;
  min-height: 100vh; /* Set a minimum height to avoid cutting off cards */
  background-color: #37B9F1;

  /* overflow-y: scroll; Remove the overflow-y property */
}

.card-container {
  display: flex;
  flex-direction: column; /* Ensure cards stack vertically on smaller screens */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10%;
  margin-bottom: 10%;
 

  /* Remove max-height and overflow-y properties */
}

.card {
  width: 100%; /* Set cards to take up the full width on smaller screens */
  height: 150px;
  min-height: 125px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 769px) {
  /* Apply these styles for screens wider than 768px (adjust as needed) */
  .card-container {
    flex-direction: row;
    margin-top: none;
    margin-bottom: none;
  
      }

  .card {
    width: 225px;
  }
}
