.IndividualLevelLandingPage {
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: center;
  justify-content: center; /* Adjust to start content at the top */
  width: 100%;
  min-height: 100vh; /* Set a minimum height to avoid cutting off cards */
  overflow-y: auto;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("../images/pexels-mark-neal-2225442.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* overflow-y: scroll; Remove the overflow-y property */
}

.IndividualLevelLandingPage-h1 {
  color: white;
  margin-top: 1%;
  }

.card-container {
  display: flex;
  flex-direction: column; /* Ensure cards stack vertically on smaller screens */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
 width: 60%;
 margin-block: 1%;
 

  /* Remove max-height and overflow-y properties */
}

.card {
  height: 150px;
  min-height: 125px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* Increased shadow */
  transition: transform 0.2s, box-shadow 0.2s;
}

h5.card-title{
  font-size: 1.10rem;

 
}
.card-link {
 text-decoration: none;  
 color: #8739f9;
  
}

.card-link:hover {
  text-decoration: underline;  
  color: #8739f9;
   
 }
.card:hover {
  transform: translateY(-10px); /* Increased lift on hover */
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3); /* Stronger box shadow on hover */
}


.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


@media (min-width: 769px) {
  /* Apply these styles for screens wider than 768px (adjust as needed) */
  .card-container {
    flex-direction: row;
    margin-top: none;
    margin-bottom: none;
  
      }
      

  .card {
    width: 225px;
  }
}
