/* STANDARD TEMPLATE */
.backBox {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: start;
  padding-top: 20px;
  /* background-color: wheat; */
}
.link-backbox {
  text-decoration: none;
  color: #8739f9;
}
.link-backbox:hover {
  text-decoration: underline;
  color: #8739f9;
}

/* SMALL SCREENS - MEDIUM SCREENS */

@media (max-width: 769px) {
  .backBox {
    gap: 15px;
    font-size: 1.3rem;
  }
}

/* MEDIUM SCREENS - LARGE SCREENS */
.backBox {
  gap: 15px;
  font-size: 1.45rem;
}

/* LARGE SCREENS + */
@media (min-width: 1200px) {
  .backBox {
    gap: 40px;
    font-size: 1.7rem;
  }
}
