/* STANDARD TEMPLATE */
.BackButton-div {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: start;
  font-size: var(--h3-font-size);
}

.backBoxButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  border: none;
  width: 200px;
  height: 60px;
  border-radius: 0.25rem;
  background-color: var(--purple);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
  font-family: var(--funkyFont), sans-serif;
}
.link-backbox button span {
  text-decoration: none;
  color: var(--white);
  font-size: var(--button-font-size);
}
.link-backbox button span:hover {
  text-decoration: none;
  color: var(--white);
}

/* SMALL SCREENS - MEDIUM SCREENS */

@media (max-width: 769px) {
}

/* MEDIUM SCREENS - LARGE SCREENS */

/* LARGE SCREENS + */
@media (min-width: 1200px) {
}
