/* purple: #8739f9
bllue: #37B9F1
GREY: #F2F5F5
FONT COLOURS::
TEXT: #595360
LABEL: #908E9B
DISABLED: #E1DFE9  
textsize one: 4rem
textsize one: 3rem
textsize one: 2rem*/

/* STANDARD TEMPLATE */
.outside--gameStructure {
  background-color: #f2f5f5;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.inner-gamestructure {
height: 90%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;

}



.points-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pointsComp {
  background: linear-gradient(to right, #8739f9, #25c3e7);
  height: 100px;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 20px;
}

#score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.heartsComp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  padding-bottom: 5px;
}

.countdown {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

.game--card--div {
  font-size: 20px;
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.25); /* Updated box shadow with bigger size */
}

#LetterGameWord {
  font-size: 1.25rem;
}

.game--card--p {
  font-size: 1.25rem;
}

.letterBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.segments {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 }

/* SMALL SCREENS - MEDIUM SCREENS */

@media (max-width: 575px) {


  .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
  }

  .pointsComp {
    height: 70px;
    width: 300px;
    padding: 5%;
    /* margin-bottom: 100px; */
  }
  #currentScoreTitle {
    font-size: 14px;
  }

  .countdown h5 {
    font-size: 14px;
  }

  /*game card comp*/
  .game--card--div {
    width: 125px;
  }

  #LetterGameWord {
    font-size: 0.85rem;

    padding-top: 15px;
  }
  .game--card--p {
    font-size: 0.85rem;
    padding-top: 15px;
  }

  .segments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  
  }
}


/* MEDIUM SCREENS - LARGE SCREENS */
@media screen and (min-width: 768px) and (max-width: 1200px) {

  .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;  
    padding: 15px;
  }

  .segments {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
  
  }

}
/* LARGE SCREENS + */
@media screen and (min-width: 1200px)  {
  .inner-gamestructure {
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    }

    .cards-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 150px;  
      padding: 15px;
    }
    

  .segments {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 120px;
  
  }


}