
/* purple: #8739f9
black:  #252525;
bllue: #37B9F1
purple: #8739f9
GREEN: #14de5e
GREY: #F2F5F5
green chatgpt: #58D4B6;
FONT COLOURS::
TEXT: #595360
LABEL: #908E9B
DISABLED: #E1DFE9  
textsize one: 2.5rem
textsize one: 2rem
textsize one: 1.25rem*/

/* STANDARD TEMPLATE */
/* SMALL SCREENS - MEDIUM SCREENS */
/* MEDIUM SCREENS - LARGE SCREENS */
/* LARGE SCREENS + */


@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=PT+Sans&display=swap');

.appComp {
  background-color: none;
  border: none;
  font-family: 'Fjalla One', sans-serif;
  width: 100%;
  height: 100vh;
  /* background-color: pink; */
 
 

}
* {
  margin: 0%;
}

body {
  margin: 0%;
  font-family: 'PT Sans', sans-serif;
  
}
