/* STANDARD TEMPLATE */

.individualButtonDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.circular-button {
  color: var(--white);
  border-radius: 50%; 
  border: 10px solid transparent;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); 
  transition: background-color 0.3s ease, transform 0.3s ease; 
  font-size: var(--p-font-size);
}

.circular-button:hover {
  transform: scale(1.05); 
  transform: translateY(-10px);
}
.circular-button-link {
  text-decoration: none;
}

/* SMALL SCREENS - MEDIUM SCREENS */
@media (max-width: 768px) {
  .circular-button {
    width: 90px; 
    height: 90px; 
  }
  .circular-button:hover {
    transform: translateX(10px);
  }
}

/* MEDIUM SCREENS - LARGE SCREENS */
@media (min-width: 767px) {
  .circular-button {
    width: 120px; 
    height: 120px; 
  }
}
/* LARGE SCREENS + */
